// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-arabesco-bottom-bottom-name: 'ArabescoBottom--bottom';
$-arabesco-bottom-bottom-x: 414px;
$-arabesco-bottom-bottom-y: 772px;
$-arabesco-bottom-bottom-offset-x: -414px;
$-arabesco-bottom-bottom-offset-y: -772px;
$-arabesco-bottom-bottom-width: 243px;
$-arabesco-bottom-bottom-height: 53px;
$-arabesco-bottom-bottom-total-width: 962px;
$-arabesco-bottom-bottom-total-height: 891px;
$-arabesco-bottom-bottom-image: '../images/sprite.png';
$-arabesco-bottom-bottom: (414px, 772px, -414px, -772px, 243px, 53px, 962px, 891px, '../images/sprite.png', 'ArabescoBottom--bottom', );
$-arabesco-top-color-15-name: 'ArabescoTop--color_15';
$-arabesco-top-color-15-x: 171px;
$-arabesco-top-color-15-y: 826px;
$-arabesco-top-color-15-offset-x: -171px;
$-arabesco-top-color-15-offset-y: -826px;
$-arabesco-top-color-15-width: 182px;
$-arabesco-top-color-15-height: 32px;
$-arabesco-top-color-15-total-width: 962px;
$-arabesco-top-color-15-total-height: 891px;
$-arabesco-top-color-15-image: '../images/sprite.png';
$-arabesco-top-color-15: (171px, 826px, -171px, -826px, 182px, 32px, 962px, 891px, '../images/sprite.png', 'ArabescoTop--color_15', );
$-arabesco-top-intro-name: 'ArabescoTop--intro';
$-arabesco-top-intro-x: 171px;
$-arabesco-top-intro-y: 772px;
$-arabesco-top-intro-offset-x: -171px;
$-arabesco-top-intro-offset-y: -772px;
$-arabesco-top-intro-width: 243px;
$-arabesco-top-intro-height: 54px;
$-arabesco-top-intro-total-width: 962px;
$-arabesco-top-intro-total-height: 891px;
$-arabesco-top-intro-image: '../images/sprite.png';
$-arabesco-top-intro: (171px, 772px, -171px, -772px, 243px, 54px, 962px, 891px, '../images/sprite.png', 'ArabescoTop--intro', );
$-figure-icon-azeite-name: 'FigureIcon--azeite';
$-figure-icon-azeite-x: 600px;
$-figure-icon-azeite-y: 622px;
$-figure-icon-azeite-offset-x: -600px;
$-figure-icon-azeite-offset-y: -622px;
$-figure-icon-azeite-width: 150px;
$-figure-icon-azeite-height: 150px;
$-figure-icon-azeite-total-width: 962px;
$-figure-icon-azeite-total-height: 891px;
$-figure-icon-azeite-image: '../images/sprite.png';
$-figure-icon-azeite: (600px, 622px, -600px, -622px, 150px, 150px, 962px, 891px, '../images/sprite.png', 'FigureIcon--azeite', );
$-figure-icon-fatiapizza-name: 'FigureIcon--fatiapizza';
$-figure-icon-fatiapizza-x: 300px;
$-figure-icon-fatiapizza-y: 622px;
$-figure-icon-fatiapizza-offset-x: -300px;
$-figure-icon-fatiapizza-offset-y: -622px;
$-figure-icon-fatiapizza-width: 150px;
$-figure-icon-fatiapizza-height: 150px;
$-figure-icon-fatiapizza-total-width: 962px;
$-figure-icon-fatiapizza-total-height: 891px;
$-figure-icon-fatiapizza-image: '../images/sprite.png';
$-figure-icon-fatiapizza: (300px, 622px, -300px, -622px, 150px, 150px, 962px, 891px, '../images/sprite.png', 'FigureIcon--fatiapizza', );
$-figure-icon-legumes-name: 'FigureIcon--legumes';
$-figure-icon-legumes-x: 150px;
$-figure-icon-legumes-y: 622px;
$-figure-icon-legumes-offset-x: -150px;
$-figure-icon-legumes-offset-y: -622px;
$-figure-icon-legumes-width: 150px;
$-figure-icon-legumes-height: 150px;
$-figure-icon-legumes-total-width: 962px;
$-figure-icon-legumes-total-height: 891px;
$-figure-icon-legumes-image: '../images/sprite.png';
$-figure-icon-legumes: (150px, 622px, -150px, -622px, 150px, 150px, 962px, 891px, '../images/sprite.png', 'FigureIcon--legumes', );
$-figure-icon-luvinhas-name: 'FigureIcon--luvinhas';
$-figure-icon-luvinhas-x: 0px;
$-figure-icon-luvinhas-y: 622px;
$-figure-icon-luvinhas-offset-x: 0px;
$-figure-icon-luvinhas-offset-y: -622px;
$-figure-icon-luvinhas-width: 150px;
$-figure-icon-luvinhas-height: 150px;
$-figure-icon-luvinhas-total-width: 962px;
$-figure-icon-luvinhas-total-height: 891px;
$-figure-icon-luvinhas-image: '../images/sprite.png';
$-figure-icon-luvinhas: (0px, 622px, 0px, -622px, 150px, 150px, 962px, 891px, '../images/sprite.png', 'FigureIcon--luvinhas', );
$-figure-icon-macarrao-name: 'FigureIcon--macarrao';
$-figure-icon-macarrao-x: 812px;
$-figure-icon-macarrao-y: 0px;
$-figure-icon-macarrao-offset-x: -812px;
$-figure-icon-macarrao-offset-y: 0px;
$-figure-icon-macarrao-width: 150px;
$-figure-icon-macarrao-height: 150px;
$-figure-icon-macarrao-total-width: 962px;
$-figure-icon-macarrao-total-height: 891px;
$-figure-icon-macarrao-image: '../images/sprite.png';
$-figure-icon-macarrao: (812px, 0px, -812px, 0px, 150px, 150px, 962px, 891px, '../images/sprite.png', 'FigureIcon--macarrao', );
$-figure-icon-moedas-name: 'FigureIcon--moedas';
$-figure-icon-moedas-x: 696px;
$-figure-icon-moedas-y: 370px;
$-figure-icon-moedas-offset-x: -696px;
$-figure-icon-moedas-offset-y: -370px;
$-figure-icon-moedas-width: 85px;
$-figure-icon-moedas-height: 65px;
$-figure-icon-moedas-total-width: 962px;
$-figure-icon-moedas-total-height: 891px;
$-figure-icon-moedas-image: '../images/sprite.png';
$-figure-icon-moedas: (696px, 370px, -696px, -370px, 85px, 65px, 962px, 891px, '../images/sprite.png', 'FigureIcon--moedas', );
$-figure-icon-money-name: 'FigureIcon--money';
$-figure-icon-money-x: 812px;
$-figure-icon-money-y: 524px;
$-figure-icon-money-offset-x: -812px;
$-figure-icon-money-offset-y: -524px;
$-figure-icon-money-width: 93px;
$-figure-icon-money-height: 70px;
$-figure-icon-money-total-width: 962px;
$-figure-icon-money-total-height: 891px;
$-figure-icon-money-image: '../images/sprite.png';
$-figure-icon-money: (812px, 524px, -812px, -524px, 93px, 70px, 962px, 891px, '../images/sprite.png', 'FigureIcon--money', );
$-figure-icon-newsletter-name: 'FigureIcon--newsletter';
$-figure-icon-newsletter-x: 905px;
$-figure-icon-newsletter-y: 524px;
$-figure-icon-newsletter-offset-x: -905px;
$-figure-icon-newsletter-offset-y: -524px;
$-figure-icon-newsletter-width: 53px;
$-figure-icon-newsletter-height: 50px;
$-figure-icon-newsletter-total-width: 962px;
$-figure-icon-newsletter-total-height: 891px;
$-figure-icon-newsletter-image: '../images/sprite.png';
$-figure-icon-newsletter: (905px, 524px, -905px, -524px, 53px, 50px, 962px, 891px, '../images/sprite.png', 'FigureIcon--newsletter', );
$-figure-icon-queijo-name: 'FigureIcon--queijo';
$-figure-icon-queijo-x: 450px;
$-figure-icon-queijo-y: 622px;
$-figure-icon-queijo-offset-x: -450px;
$-figure-icon-queijo-offset-y: -622px;
$-figure-icon-queijo-width: 150px;
$-figure-icon-queijo-height: 150px;
$-figure-icon-queijo-total-width: 962px;
$-figure-icon-queijo-total-height: 891px;
$-figure-icon-queijo-image: '../images/sprite.png';
$-figure-icon-queijo: (450px, 622px, -450px, -622px, 150px, 150px, 962px, 891px, '../images/sprite.png', 'FigureIcon--queijo', );
$-figure-icon-report-name: 'FigureIcon--report';
$-figure-icon-report-x: 812px;
$-figure-icon-report-y: 667px;
$-figure-icon-report-offset-x: -812px;
$-figure-icon-report-offset-y: -667px;
$-figure-icon-report-width: 93px;
$-figure-icon-report-height: 63px;
$-figure-icon-report-total-width: 962px;
$-figure-icon-report-total-height: 891px;
$-figure-icon-report-image: '../images/sprite.png';
$-figure-icon-report: (812px, 667px, -812px, -667px, 93px, 63px, 962px, 891px, '../images/sprite.png', 'FigureIcon--report', );
$-figure-icon-send-name: 'FigureIcon--send';
$-figure-icon-send-x: 686px;
$-figure-icon-send-y: 450px;
$-figure-icon-send-offset-x: -686px;
$-figure-icon-send-offset-y: -450px;
$-figure-icon-send-width: 85px;
$-figure-icon-send-height: 52px;
$-figure-icon-send-total-width: 962px;
$-figure-icon-send-total-height: 891px;
$-figure-icon-send-image: '../images/sprite.png';
$-figure-icon-send: (686px, 450px, -686px, -450px, 85px, 52px, 962px, 891px, '../images/sprite.png', 'FigureIcon--send', );
$-figure-icon-store-name: 'FigureIcon--store';
$-figure-icon-store-x: 812px;
$-figure-icon-store-y: 594px;
$-figure-icon-store-offset-x: -812px;
$-figure-icon-store-offset-y: -594px;
$-figure-icon-store-width: 83px;
$-figure-icon-store-height: 73px;
$-figure-icon-store-total-width: 962px;
$-figure-icon-store-total-height: 891px;
$-figure-icon-store-image: '../images/sprite.png';
$-figure-icon-store: (812px, 594px, -812px, -594px, 83px, 73px, 962px, 891px, '../images/sprite.png', 'FigureIcon--store', );
$-figure-icon-tipo-de-franquia-name: 'FigureIcon--tipoDeFranquia';
$-figure-icon-tipo-de-franquia-x: 388px;
$-figure-icon-tipo-de-franquia-y: 304px;
$-figure-icon-tipo-de-franquia-offset-x: -388px;
$-figure-icon-tipo-de-franquia-offset-y: -304px;
$-figure-icon-tipo-de-franquia-width: 400px;
$-figure-icon-tipo-de-franquia-height: 66px;
$-figure-icon-tipo-de-franquia-total-width: 962px;
$-figure-icon-tipo-de-franquia-total-height: 891px;
$-figure-icon-tipo-de-franquia-image: '../images/sprite.png';
$-figure-icon-tipo-de-franquia: (388px, 304px, -388px, -304px, 400px, 66px, 962px, 891px, '../images/sprite.png', 'FigureIcon--tipoDeFranquia', );
$-flatlay-azeite-name: 'Flatlay--azeite';
$-flatlay-azeite-x: 0px;
$-flatlay-azeite-y: 0px;
$-flatlay-azeite-offset-x: 0px;
$-flatlay-azeite-offset-y: 0px;
$-flatlay-azeite-width: 388px;
$-flatlay-azeite-height: 450px;
$-flatlay-azeite-total-width: 962px;
$-flatlay-azeite-total-height: 891px;
$-flatlay-azeite-image: '../images/sprite.png';
$-flatlay-azeite: (0px, 0px, 0px, 0px, 388px, 450px, 962px, 891px, '../images/sprite.png', 'Flatlay--azeite', );
$-flatlay-colher-name: 'Flatlay--colher';
$-flatlay-colher-x: 388px;
$-flatlay-colher-y: 0px;
$-flatlay-colher-offset-x: -388px;
$-flatlay-colher-offset-y: 0px;
$-flatlay-colher-width: 424px;
$-flatlay-colher-height: 304px;
$-flatlay-colher-total-width: 962px;
$-flatlay-colher-total-height: 891px;
$-flatlay-colher-image: '../images/sprite.png';
$-flatlay-colher: (388px, 0px, -388px, 0px, 424px, 304px, 962px, 891px, '../images/sprite.png', 'Flatlay--colher', );
$-flatlay-folha1-name: 'Flatlay--folha1';
$-flatlay-folha1-x: 0px;
$-flatlay-folha1-y: 772px;
$-flatlay-folha1-offset-x: 0px;
$-flatlay-folha1-offset-y: -772px;
$-flatlay-folha1-width: 171px;
$-flatlay-folha1-height: 119px;
$-flatlay-folha1-total-width: 962px;
$-flatlay-folha1-total-height: 891px;
$-flatlay-folha1-image: '../images/sprite.png';
$-flatlay-folha1: (0px, 772px, 0px, -772px, 171px, 119px, 962px, 891px, '../images/sprite.png', 'Flatlay--folha1', );
$-flatlay-folha2-no-shadow-name: 'Flatlay--folha2--noShadow';
$-flatlay-folha2-no-shadow-x: 812px;
$-flatlay-folha2-no-shadow-y: 337px;
$-flatlay-folha2-no-shadow-offset-x: -812px;
$-flatlay-folha2-no-shadow-offset-y: -337px;
$-flatlay-folha2-no-shadow-width: 120px;
$-flatlay-folha2-no-shadow-height: 187px;
$-flatlay-folha2-no-shadow-total-width: 962px;
$-flatlay-folha2-no-shadow-total-height: 891px;
$-flatlay-folha2-no-shadow-image: '../images/sprite.png';
$-flatlay-folha2-no-shadow: (812px, 337px, -812px, -337px, 120px, 187px, 962px, 891px, '../images/sprite.png', 'Flatlay--folha2--noShadow', );
$-flatlay-folha2-name: 'Flatlay--folha2';
$-flatlay-folha2-x: 812px;
$-flatlay-folha2-y: 150px;
$-flatlay-folha2-offset-x: -812px;
$-flatlay-folha2-offset-y: -150px;
$-flatlay-folha2-width: 120px;
$-flatlay-folha2-height: 187px;
$-flatlay-folha2-total-width: 962px;
$-flatlay-folha2-total-height: 891px;
$-flatlay-folha2-image: '../images/sprite.png';
$-flatlay-folha2: (812px, 150px, -812px, -150px, 120px, 187px, 962px, 891px, '../images/sprite.png', 'Flatlay--folha2', );
$-flatlay-ramo-name: 'Flatlay--ramo';
$-flatlay-ramo-x: 0px;
$-flatlay-ramo-y: 450px;
$-flatlay-ramo-offset-x: 0px;
$-flatlay-ramo-offset-y: -450px;
$-flatlay-ramo-width: 312px;
$-flatlay-ramo-height: 172px;
$-flatlay-ramo-total-width: 962px;
$-flatlay-ramo-total-height: 891px;
$-flatlay-ramo-image: '../images/sprite.png';
$-flatlay-ramo: (0px, 450px, 0px, -450px, 312px, 172px, 962px, 891px, '../images/sprite.png', 'Flatlay--ramo', );
$-flatlay-tomate1-name: 'Flatlay--tomate1';
$-flatlay-tomate1-x: 499px;
$-flatlay-tomate1-y: 450px;
$-flatlay-tomate1-offset-x: -499px;
$-flatlay-tomate1-offset-y: -450px;
$-flatlay-tomate1-width: 187px;
$-flatlay-tomate1-height: 171px;
$-flatlay-tomate1-total-width: 962px;
$-flatlay-tomate1-total-height: 891px;
$-flatlay-tomate1-image: '../images/sprite.png';
$-flatlay-tomate1: (499px, 450px, -499px, -450px, 187px, 171px, 962px, 891px, '../images/sprite.png', 'Flatlay--tomate1', );
$-flatlay-tomate2-name: 'Flatlay--tomate2';
$-flatlay-tomate2-x: 312px;
$-flatlay-tomate2-y: 450px;
$-flatlay-tomate2-offset-x: -312px;
$-flatlay-tomate2-offset-y: -450px;
$-flatlay-tomate2-width: 187px;
$-flatlay-tomate2-height: 171px;
$-flatlay-tomate2-total-width: 962px;
$-flatlay-tomate2-total-height: 891px;
$-flatlay-tomate2-image: '../images/sprite.png';
$-flatlay-tomate2: (312px, 450px, -312px, -450px, 187px, 171px, 962px, 891px, '../images/sprite.png', 'Flatlay--tomate2', );
$-intro-name-vignoli-name: 'Intro--nameVignoli';
$-intro-name-vignoli-x: 388px;
$-intro-name-vignoli-y: 370px;
$-intro-name-vignoli-offset-x: -388px;
$-intro-name-vignoli-offset-y: -370px;
$-intro-name-vignoli-width: 308px;
$-intro-name-vignoli-height: 71px;
$-intro-name-vignoli-total-width: 962px;
$-intro-name-vignoli-total-height: 891px;
$-intro-name-vignoli-image: '../images/sprite.png';
$-intro-name-vignoli: (388px, 370px, -388px, -370px, 308px, 71px, 962px, 891px, '../images/sprite.png', 'Intro--nameVignoli', );
$-shadow-box-bottom-name: 'ShadowBox--bottom';
$-shadow-box-bottom-x: 657px;
$-shadow-box-bottom-y: 772px;
$-shadow-box-bottom-offset-x: -657px;
$-shadow-box-bottom-offset-y: -772px;
$-shadow-box-bottom-width: 293px;
$-shadow-box-bottom-height: 30px;
$-shadow-box-bottom-total-width: 962px;
$-shadow-box-bottom-total-height: 891px;
$-shadow-box-bottom-image: '../images/sprite.png';
$-shadow-box-bottom: (657px, 772px, -657px, -772px, 293px, 30px, 962px, 891px, '../images/sprite.png', 'ShadowBox--bottom', );
$-shadow-box-tab-left-footer-name: 'ShadowBox--tabLeft--footer';
$-shadow-box-tab-left-footer-x: 812px;
$-shadow-box-tab-left-footer-y: 730px;
$-shadow-box-tab-left-footer-offset-x: -812px;
$-shadow-box-tab-left-footer-offset-y: -730px;
$-shadow-box-tab-left-footer-width: 113px;
$-shadow-box-tab-left-footer-height: 26px;
$-shadow-box-tab-left-footer-total-width: 962px;
$-shadow-box-tab-left-footer-total-height: 891px;
$-shadow-box-tab-left-footer-image: '../images/sprite.png';
$-shadow-box-tab-left-footer: (812px, 730px, -812px, -730px, 113px, 26px, 962px, 891px, '../images/sprite.png', 'ShadowBox--tabLeft--footer', );
$-shadow-box-tab-left-name: 'ShadowBox--tabLeft';
$-shadow-box-tab-left-x: 932px;
$-shadow-box-tab-left-y: 150px;
$-shadow-box-tab-left-offset-x: -932px;
$-shadow-box-tab-left-offset-y: -150px;
$-shadow-box-tab-left-width: 19px;
$-shadow-box-tab-left-height: 113px;
$-shadow-box-tab-left-total-width: 962px;
$-shadow-box-tab-left-total-height: 891px;
$-shadow-box-tab-left-image: '../images/sprite.png';
$-shadow-box-tab-left: (932px, 150px, -932px, -150px, 19px, 113px, 962px, 891px, '../images/sprite.png', 'ShadowBox--tabLeft', );
$-shadow-box-tab-right-footer-name: 'ShadowBox--tabRight--footer';
$-shadow-box-tab-right-footer-x: 686px;
$-shadow-box-tab-right-footer-y: 502px;
$-shadow-box-tab-right-footer-offset-x: -686px;
$-shadow-box-tab-right-footer-offset-y: -502px;
$-shadow-box-tab-right-footer-width: 113px;
$-shadow-box-tab-right-footer-height: 26px;
$-shadow-box-tab-right-footer-total-width: 962px;
$-shadow-box-tab-right-footer-total-height: 891px;
$-shadow-box-tab-right-footer-image: '../images/sprite.png';
$-shadow-box-tab-right-footer: (686px, 502px, -686px, -502px, 113px, 26px, 962px, 891px, '../images/sprite.png', 'ShadowBox--tabRight--footer', );
$-shadow-box-tab-right-name: 'ShadowBox--tabRight';
$-shadow-box-tab-right-x: 932px;
$-shadow-box-tab-right-y: 337px;
$-shadow-box-tab-right-offset-x: -932px;
$-shadow-box-tab-right-offset-y: -337px;
$-shadow-box-tab-right-width: 19px;
$-shadow-box-tab-right-height: 113px;
$-shadow-box-tab-right-total-width: 962px;
$-shadow-box-tab-right-total-height: 891px;
$-shadow-box-tab-right-image: '../images/sprite.png';
$-shadow-box-tab-right: (932px, 337px, -932px, -337px, 19px, 113px, 962px, 891px, '../images/sprite.png', 'ShadowBox--tabRight', );
$border-box-gadient-name: 'borderBox--gadient';
$border-box-gadient-x: 388px;
$border-box-gadient-y: 441px;
$border-box-gadient-offset-x: -388px;
$border-box-gadient-offset-y: -441px;
$border-box-gadient-width: 290px;
$border-box-gadient-height: 1px;
$border-box-gadient-total-width: 962px;
$border-box-gadient-total-height: 891px;
$border-box-gadient-image: '../images/sprite.png';
$border-box-gadient: (388px, 441px, -388px, -441px, 290px, 1px, 962px, 891px, '../images/sprite.png', 'borderBox--gadient', );
$spritesheet-width: 962px;
$spritesheet-height: 891px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($-arabesco-bottom-bottom, $-arabesco-top-color-15, $-arabesco-top-intro, $-figure-icon-azeite, $-figure-icon-fatiapizza, $-figure-icon-legumes, $-figure-icon-luvinhas, $-figure-icon-macarrao, $-figure-icon-moedas, $-figure-icon-money, $-figure-icon-newsletter, $-figure-icon-queijo, $-figure-icon-report, $-figure-icon-send, $-figure-icon-store, $-figure-icon-tipo-de-franquia, $-flatlay-azeite, $-flatlay-colher, $-flatlay-folha1, $-flatlay-folha2-no-shadow, $-flatlay-folha2, $-flatlay-ramo, $-flatlay-tomate1, $-flatlay-tomate2, $-intro-name-vignoli, $-shadow-box-bottom, $-shadow-box-tab-left-footer, $-shadow-box-tab-left, $-shadow-box-tab-right-footer, $-shadow-box-tab-right, $border-box-gadient, );
$spritesheet: (962px, 891px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
